.elementos{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);

}
ul{
  float:left;
  background-color: black;
  width: 300px;
  position: relative;
  height: 600px;
  list-style:none
}

