.elementos{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);

}
ul{
  float:left;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de transparencia */
  width: 300px;
  position: relative;
  height: 750px;
  list-style:none
}

