.fondo {
  background-color: #f0f4f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.fitchar {
  width: 180px; /* Aumenta el tamaño de la imagen */
  margin: 10px;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #007bff;
}

.file-input {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.usuario {
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
}

.titulo {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.grafica-container {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
}

.tabla-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  overflow-x: auto;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  background-color: #e0f7fa;
  border-radius: 15px;
  overflow: hidden;
}

.tabla th, .tabla td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.tabla th {
  background-color: #007bff;
  color: white;
}

.tabla tr:nth-child(even) {
  background-color: #f1f1f1;
}

/* Media queries para hacer el diseño responsivo */
@media (max-width: 768px) {
  .fitchar {
    width: 150px; /* Ajusta el tamaño de la imagen para pantallas más pequeñas */
  }

  .grafica-container {
    padding: 10px;
  }

  .tabla-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.5rem;
  }

  .usuario {
    font-size: 1.2rem;
  }
}
