.titulo{
    color: rgb(0, 0, 0);
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 130px;
    right: 400px;

    
}
.texto{
    width: 90%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;    
}
.inicio{
    font-size: 50px;
    float:left;
    width: 1000px;
    position: relative;
    height: -500px;
    top: 300px;
    left: 100PX;
    }
.fondo{
    background-color: rgba(225, 223, 231, 0.5); 
    border-radius: 15px;
    height: 300px;
    padding-top: 75px;
    margin-top: -75px;
    width: 900px;
}
.img{
    position: relative;
    bottom: 250px;
    color: white;
    background-color: white;
    
}
